.container {
	
	width: 1280px;
	height: 900px;
	
}
.bg-image {
	background-image: url(../images/background.png);
	width: 1280px;
	height: 900px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: cover;
	background-position: center;
    position: relative;

}
.section-1-container {
	top: 59px;
	left: 80px;
	width: 1057px;
	height: 29px;
	display: flex;
	justify-content: space-between;
	position: relative;
}






.text-1 {
	position: absolute;
	width: 124px;
	top: 69px;
	left: 80px;
	font-size: 28px;
	color: #FFFFFF;
	display: flex;
	justify-content: space-around;
	text-align: left;


} 

.box-nav {
	width: 345px;
	height: 17px;
	display: flex;
	justify-content: space-between;
	flex-direction: row; 

}
.lorem-text {
	text-align: center;
	font-size: 100px;
	color: white;
	position: absolute;
	display: flex;
}
.container-2 {
	width: 1280px;
	height: 601.44px;
}


.container-2-1 {
	width: 1290px;
	height: 601.44px;
	display: flex;
	flex-direction: row;
	position: relative;
		
}
.left-box {
	width: 640px;
	height: 601.44px;
	position: absolute;
	

}

.right-box {
	width: 640px;
	height: 601.44px;
	position: absolute;
	


}
.text-2 {
	width: 468px;
	height: 186px;
	font-size: 50px;
	position: absolute;
	text-align: center;

}


.text-3 {
	width: 457px; 
	height: 128px;
	font-size: 16px;
	padding-top: 90px;
	padding-left: 86px;
}

.flex-contrainer {
	align-items: stretch;
	align-content: space-between;
	position: relative;
	display: flex;
	
}












